:root {
    color-scheme: light dark;
    --fg-color: black;
    --bg-color: white;
    --link-color: #369;
    --header-color: dodgerblue;
}

html, body {
    font-family: system, -apple-system, BlinkMacSystemFont, HelveticaNeue, LucidaGrande, sans-serif;
    margin: 0;
    padding: 0;
    background-color: var(--bg-color);
    color: var(--fg-color);
}

main {
    margin: auto;
    width: 666px;
}

h1, h2, h3, h4, h5, h6 {
    color: var(--header-color);
}

a {
    text-decoration: none;
    color: var(--link-color);
}

p, li {
    line-height: 1.5em;
}

li {
    margin-bottom: 1em;
}

@media (prefers-color-scheme: dark) {
    :root {
        --link-color: dodgerblue;
        --bg-color: #161716;
        --fg-color: #ccc;
        --header-color: peru;
    }
}
